@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,200;1,900&display=swap');

* {
  margin: 15px;
  font-family: 'Raleway', sans-serif;
}

#main-page {
  display: flex;
  width: 100%vh;
  background-color: snow;
}

img {
  width: 70%;
  height: 120px;
}

.weather-section {
  background: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?size=626&ext=jpg") no-repeat right;
  margin-left: -30vh;
  margin-top: 5vh;
  max-height: 140px;
  width: 220px;
  margin-left: 2px;
  box-shadow: 0px 0px 3px black;

}


.news-box {
  max-width: 360px;
  max-height: auto;
  font-size: smaller;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 1px black;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-section {
  box-shadow: 1px 1px 2px gray;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  font-size: smaller;
  margin-top: 10vh;
  padding: 1rem;

}

p {
  margin-top: 0;

}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.h4 {
  font-weight: 100;
  font-size: 2rem;
}

.followers-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.followers-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;

}

.followers-name {
  color: #6c757d;
  margin-top: 0px;
  width: 100px;
}

.search-result {
  width: 100%;
  margin: auto;
  overflow-y: scroll;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .text-input {
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 25px;
    background-color: white;
    width: 380px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 0px 3px gray;
  }

  .button {
    background-color: #0096FF;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 0px 3px gray;
  }

}

.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: blue;
}

* .categories-button {
  background-color: white;
  color: black;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  box-shadow: 0px 0px 3px gray;
  margin-left: 10px;
}

.loader {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 100px;

}

.active {
  background-color: #0096FF;
  color: white;
}

.input-email {
  background-color: rgba(128, 128, 128, 0.153);
  border: none;
  padding: 4px;
}

.subs-btn {
  background-color: #0096FF;
  border: none;
  color: white;
  padding: 4px;
}

.followers-div {
  height: auto;
  display: flex;
  background-color: black;
  flex-direction: row;
  color: white;
  border: 1px solid blue;
  border-radius: 3%;
}

h4 {
  font-weight: 1600;
}

.followers-box {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.followers-id {
  background-color: #0096FF;
  border: none;
  margin-top: 2px;
  color: white;
  font-weight: 500;
}