
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,200;1,900&display=swap');

.App {
  text-align: center;
}
.news-box{
  width:420px;
  height: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.368);
  flex-direction:row;
  color:white;
  /* margin-left: 20px; */
  border: 2px solid yellow;
  border-radius: 3%;
}
.content-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  
}
p{
  font-size: small;
}
.news-img{
  width:400px;
  height: 180px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
