@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,200;1,900&display=swap');

 * {
   margin: 15px;
  font-family: 'Raleway', sans-serif;
  
} 
#main-page{
  display: flex;
  width: 100%vh;
  /* border:2px solid black;
  background-color: #150150; */
  /* background-color:  #191919a8; */
}

img {
  width: 70%;
  height: 120px;
}

.weather-section {
  background: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?size=626&ext=jpg") no-repeat right;
  margin-left: -30vh;
  margin-top: 25vh;
  background-color: aliceblue;
  max-height: 80px;
  width: 170px;
  margin-left: 2px;
  box-shadow: 0px 0px 3px black;
  
}

.news-box {
  /* background-color: rgba(137, 43, 226, 0.207); */
  max-width: 320px;
  max-height: auto;
  font-size: smaller;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px black;
   /* background-color:  #191919a8; */
  /* color: white;  */
}
p{
  margin-top: 0;

}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #0B0226; */
  /* color: white; */
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.h4 {
  font-weight: 100;
  font-size: 2rem;
}

.followers-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* padding: 2px; */
}
.followers-box{
  max-width: 150px;
  max-height: 200px;
  border: 1px dashed gray;
  background-color: rgba(255, 255, 255, 0.845);
  align-items: center;
}
.followers-img{
  height: 80px;
  width:80px;
  border-radius: 50%; 
  
}
.followers-id{
  margin-top: 0;
  width: 100%;
  background-color: #0096FF;
  border: none;
  /* color: white; */
}
.followers-name{
  color:#6c757d ;
  margin-top: 0px;
  width: 80px;
  border: 1px dashed yellow;
}
.search-result {
  width: 100%;
  margin: auto;
  overflow-y: scroll;
}

.search-input {
  /* margin: 0 0 0 200px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .text-input {
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 25px;
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 0px 0px 3px gray;
  }

  .button {
    background-color: #0096FF;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 0px 3px gray;

    /* margin-left: 10px; */
  }

}
.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: blue;
}

* .categories-button {
  background-color: white;
  color: black;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  box-shadow: 0px 0px 3px gray;
  margin-left: 10px;
  /* flex-wrap: wrap; */
}

.loader {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 100px;
}

.active {
  background-color: #0096FF;
  color: white;
}

.followers-div {
  height: auto;
  display: flex;
  background-color: black;
  flex-direction: row;
  color: white;
  border: 1px solid blue;
  border-radius: 3%;
}



/* .author-name {
  font-size: large;
  margin-bottom: 1px;
  font-weight: 150;
  width: 120px;
  font-size: 320;
  font-weight: 400;
  width: 120px;
  margin-left: 0;
  background-color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.author-content {
  font-size: 420;
  font-weight: 400;
  width: 120px;
  margin-left: 0;
  background-color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  padding: 2px;
} */

/* .author-title {
  font-weight: 120;
  font-size: 320;
  font-weight: 400;
  width: 120px;
  margin-left: 0;
  background-color: aliceblue;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
} */

/* .top-stories-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  margin: 0;
  padding: 0;
  /* margin-left: 20px; */
/* } */



/* .main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #0096FF;
    margin: 0;
    padding: 10;
    margin-left: 20px;
  }
} */

/* for each news-div */
/* .news-box {
  display: flex;
  border: 1px solid blue;

} */
/* img {
  width: 30%;
  height: 60px;
  border: 1px solid orange;
} */

/* .news-container {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 0.5rem;
  /* margin-bottom: 1px;
  max-height: 33vh; */
/* width: 360px; */

/* .news-img { */
/* position: relative;
    display: inline;
    top: -162px;
    bottom: 150px;
    left: 52px;
    /* right: 1px; */
/* width: 25vh;
    padding: 5px; 
    /* max-height: 60vh; */

/* max-height: 20vh;  */
/* padding: 5px; */
/* }  */

/* .news-box {
    gap: 1px;
    /* max-height: 29vh; */
/* margin: 0px 1px; */
/* position: relative;
width: 100vh;
display: flex;
border: 4px solid red;
background-color: aliceblue;
box-shadow: 0px 0px 1px gray;

} */

/* } 

.posts-section {
  display: flex;
  flex-wrap: wrap;
}

.left-section {

  width: 200px;
  height: 100vh;
  border: 2px solid blue;
}

.right-section {
  border: 2px solid blue;
} */
